**Ваша любимая домашка**

Кто проходил курс GPU прекрасно знают датасет.
Данные находятся в файле Train_Set_90621.csv
Amount Defaulted - эту переменную нужно удалить=)

Что ожидается? - творчество)

    1) Начните с анализа баланса классов, пропусков, статистик при помощи DataFrame API
    2) Посомтрите статистики, заполните пропуски при помощи уже MLlib
    3) Соберите пайплайн, похожий на наш, где будет обработка данных, обучение моделей и все при помощи Spark
    4) Разбейте данные на train/test + реализуйте подбор параметров одним из способов спарка
    5) Cохраниет пайплайн на диск
    6) Проверьте качество модели на отложенной test выборке

### Срок выполнения - 02.03.2023

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import DoubleType
from pyspark.ml.feature import StringIndexer, IndexToString, OneHotEncoder
from pyspark.ml.feature import Imputer, VectorAssembler, StandardScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from google.colab import drive
drive.mount('/content/drive')
spark = SparkSession.builder.appName("Homework_Pipeline").getOrCreate()

Mounted at /content/drive

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/Train_Set_90621.csv", header=True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- Application ID: integer (nullable = true)
 |-- Bank Masked: string (nullable = true)
 |-- Bank Type: string (nullable = true)
 |-- Approved_Timestamp: string (nullable = true)
 |-- Name Masked: string (nullable = true)
 |-- Business Owner State: string (nullable = true)
 |-- Business_Industry_Type_Code: integer (nullable = true)
 |-- Approved_Year: integer (nullable = true)
 |-- New Business: integer (nullable = true)
 |-- Term: integer (nullable = true)
 |-- BankState: string (nullable = true)
 |-- Interest Rate: integer (nullable = true)
 |-- Employees: integer (nullable = true)
 |-- Gross Disbursed Amount: integer (nullable = true)
 |-- Term_years: integer (nullable = true)
 |-- Jobs Retained: integer (nullable = true)
 |-- Male to Female Employees Ratio: integer (nullable = true)
 |-- Expected Company Income: long (nullable = true)
 |-- Funds available with company: integer (nullable = true)
 |-- Gross_Apprv_Amount: integer (nullable = true)
 |-- Company Branch Code: integer (nullable = true)
 |-- City or Rural: integer (nullable = true)
 |-- Jobs Generated: integer (nullable = true)
 |-- Carry-forward Credit: string (nullable = true)
 |-- Documents Provided: string (nullable = true)
 |-- Balance Left: integer (nullable = true)
 |-- Amount Defaulted: integer (nullable = true)
 |-- Final_Appved_Amount: integer (nullable = true)
 |-- Default_Status: integer (nullable = true)

In [ ]:
df.show(5)

+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|Application ID|   Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|    1020200001| Bank_Name_316|  Private|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|               0|           13912500|             0|
|    1020200002|Bank_Name_1062|     Govt|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|         2369500|            1225000|             1|
|    1020200003|  Bank_Name_39|  Private|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|               0|            1487500|             0|
|    1020200004|   Bank_Name_3|     Govt|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|                 333333|                     2346786|          38850000|                  1|            1|             0|                   N|                 N|           0|               0|           29137500|             0|
|    1020200005| Bank_Name_126|     Govt|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|                 333333|                     2382995|           2800000|                  1|            2|             0|                   N|                 Y|           0|               0|            2380000|             0|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
only showing top 5 rows

In [ ]:
target='Default_Status'

In [ ]:
df.groupBy(target).count().show()

+--------------+------+
|Default_Status| count|
+--------------+------+
|             1| 35238|
|             0|159880|
+--------------+------+

In [ ]:
missing_counts = df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns])
missing_counts.show()

+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|Application ID|Bank Masked|Bank Type|Approved_Timestamp|Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|             0|         80|       80|               426|          1|                   3|                          0|            0|          36|   0|       81|            0|        0|                     0|         0|            0|                             0|                      3|                           0|                 0|                  0|            0|             0|                 978|               552|           0|               0|                  0|             0|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+

In [ ]:
df.describe().show()

+-------+-----------------+---------------+---------+------------------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+------------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+-----------------+--------------------+------------------+----------------+-----------------+--------------------+-------------------+
|summary|   Application ID|    Bank Masked|Bank Type|Approved_Timestamp|        Name Masked|Business Owner State|Business_Industry_Type_Code|    Approved_Year|       New Business|              Term|  BankState|     Interest Rate|         Employees|Gross Disbursed Amount|       Term_years|     Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|  Gross_Apprv_Amount|Company Branch Code|     City or Rural|   Jobs Generated|Carry-forward Credit|Documents Provided|    Balance Left| Amount Defaulted| Final_Appved_Amount|     Default_Status|
+-------+-----------------+---------------+---------+------------------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+------------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+-----------------+--------------------+------------------+----------------+-----------------+--------------------+-------------------+
|  count|           195118|         195038|   195038|            194692|             195117|              195115|                     195118|           195118|             195082|            195118|     195037|            195118|            195118|                195118|           195118|            195118|                        195118|                 195115|                      195118|              195118|             195118|            195118|           195118|              194140|            194566|          195118|           195118|              195118|             195118|
|   mean|   1.0202975595E9|           NULL|     NULL|              NULL|               NULL|                NULL|          399104.7059881713|2008.122751360715| 1.2793030623020063|110.73985998216465|        0.0| 7.327914390266403|19.122981990385306|   1.414491644937935E7|9.245461720599842|11.418362221834991|             15.32921104152359|   1.8325220522256106E7|           1253178.777488494|1.3565614745999856E7|  2812.721501860413|0.7546971576174417|9.055151241812647|                NULL|              NULL|9.18418597976609|947164.9372174786| 1.052897772045634E7|0.18059840711774414|
| stddev|56325.85924925306|           NULL|     NULL|              NULL|               NULL|                NULL|          263815.8896713594|6.256458086968012|0.45111900679753403|  78.8517723449654|        0.0|2.9777137747977767|130.03260689491412|  2.0299306581284177E7|6.569698906552672|248.74419770593946|             11.79194668211102|     1.75906858249903E8|           645567.0835725025|1.9969551972906575E7| 12897.919612614003|0.6469141971067709|248.3170371124524|                NULL|              NULL|3962.91144972547|4576773.103095641|1.6101767759185921E7|0.38468608097312673|
|    min|       1020200001|    Bank_Name_1|     Govt|        01-01-2001|    Business_Name_1|               Delhi|                       1230|             1900|                  0|                 0|          0|                 2|                 0|                     0|                0|                 0|                             1|                      0|                      100002|               14000|                  0|                 0|                0|                   N|                 N|               0|                0|                7000|                  0|
|    max|       1020395118|Bank_Number_999|  Private|        31-12-2016|Business_Name_99999|         Uttarakhand|                     929351|             2017|                  2|               461|Uttarakhand|                12|             22222|             732550000|               38|              8800|                            50|            43200000000|                     2500000|           350000000|              92000|                 2|             8800|                   Y|                 Y|         1750000|        139999930|           315000000|                  1|
+-------+-----------------+---------------+---------+------------------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+------------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+-----------------+--------------------+------------------+----------------+-----------------+--------------------+-------------------+

In [ ]:
df = df.withColumn("Documents Provided", F.when(F.col("Documents Provided") == "Y", 1).otherwise(0))

In [ ]:
df = df.withColumn("Carry-forward Credit", F.when(F.col("Carry-forward Credit") == "Y", 1).otherwise(0))

In [ ]:
df = df.withColumn("Bank Type", F.when(F.col("Bank Type") == "Govt", 1).otherwise(0))

In [ ]:
df = df.withColumn("Expected Company Income", df["Expected Company Income"].cast(DoubleType()))

In [ ]:
numeric_cols = [field.name for field in df.schema.fields
                if field.dataType.simpleString() in ["int", "double", "long", "float"] and field.name not in ['Application ID', 'Approved_Year']]

In [ ]:
cat_cols = [field.name for field in df.schema.fields
                if field.name not in numeric_cols and field.name not in ['Approved_Timestamp', 'Bank Masked', 'Name Masked', 'Application ID']]
#отфильтровываем дату, имя клиента и имя банка, тк слишком много уникальных значений, чтобы выделить категории

In [ ]:
df[numeric_cols].show(5)

+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|Bank Type|Business_Industry_Type_Code|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|
+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|        0|                     525161|           1| 219|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|              25650|            1|             3|                   0|                 0|           0|               0|           13912500|             0|
|        1|                       1231|           1|  71|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|                  0|            1|             0|                   1|                 0|           0|         2369500|            1225000|             1|
|        0|                     322442|           2|  84|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|                  0|            2|             2|                   1|                 0|           0|               0|            1487500|             0|
|        1|                       1231|           1| 300|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|                  1|            1|             0|                   0|                 0|           0|               0|           29137500|             0|
|        1|                       1231|           2| 153|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|                  1|            2|             0|                   0|                 1|           0|               0|            2380000|             0|
+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
only showing top 5 rows

In [ ]:
df[cat_cols].show(5)

+--------------------+-------------+-------------+
|Business Owner State|Approved_Year|    BankState|
+--------------------+-------------+-------------+
|       Uttar Pradesh|         2005|Uttar Pradesh|
|       Uttar Pradesh|         2006|Uttar Pradesh|
|       Uttar Pradesh|         2007|  Maharashtra|
|              Kerala|         2009|        Delhi|
|               Delhi|         2002|  Maharashtra|
+--------------------+-------------+-------------+
only showing top 5 rows

In [ ]:
#df = df.withColumn("Business Owner State", df["Business Owner State"].cast(DoubleType()))
owner_indexer = StringIndexer(inputCol="Business Owner State", outputCol="Business_Owner_State_indexer")
owner_indexer = owner_indexer.fit(df)
df = owner_indexer.transform(df)

In [ ]:
df.show(5)

+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+
|Application ID|   Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|Business_Owner_State_indexer|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+
|    1020200001| Bank_Name_316|        0|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|              25650|            1|             3|                   0|                 0|           0|               0|           13912500|             0|                         3.0|
|    1020200002|Bank_Name_1062|        1|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|                  0|            1|             0|                   1|                 0|           0|         2369500|            1225000|             1|                         3.0|
|    1020200003|  Bank_Name_39|        0|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|                  0|            2|             2|                   1|                 0|           0|               0|            1487500|             0|                         3.0|
|    1020200004|   Bank_Name_3|        1|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|                  1|            1|             0|                   0|                 0|           0|               0|           29137500|             0|                         9.0|
|    1020200005| Bank_Name_126|        1|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|                  1|            2|             0|                   0|                 1|           0|               0|            2380000|             0|                         0.0|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+
only showing top 5 rows

In [ ]:
bank_indexer = StringIndexer(inputCol="BankState", outputCol="BankStateindexer")
bank_indexer = bank_indexer.fit(df)
df = bank_indexer.transform(df)

In [ ]:
df.show()

+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+
|Application ID|    Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|Business_Owner_State_indexer|BankStateindexer|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+
|    1020200001|  Bank_Name_316|        0|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|              25650|            1|             3|                   0|                 0|           0|               0|           13912500|             0|                         3.0|             3.0|
|    1020200002| Bank_Name_1062|        1|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|                  0|            1|             0|                   1|                 0|           0|         2369500|            1225000|             1|                         3.0|             3.0|
|    1020200003|   Bank_Name_39|        0|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|                  0|            2|             2|                   1|                 0|           0|               0|            1487500|             0|                         3.0|             1.0|
|    1020200004|    Bank_Name_3|        1|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|                  1|            1|             0|                   0|                 0|           0|               0|           29137500|             0|                         9.0|             0.0|
|    1020200005|  Bank_Name_126|        1|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|                  1|            2|             0|                   0|                 1|           0|               0|            2380000|             0|                         0.0|             1.0|
|    1020200006| Bank_Name_1281|        0|        23-12-2009|Business_Name_135212|         Maharashtra|                     239391|         2009|           1|  84|  Maharashtra|            6|       10|              10500000|         7|            0|                            16|               833333.0|                      392186|          10500000|                  1|            2|             0|                   0|                 1|           0|               0|            7875000|             0|                         2.0|             1.0|
|    1020200007|   Bank_Name_33|        0|        04-10-2009| Business_Name_60742|               Delhi|                     423561|         2009|           2|  60|        Delhi|            6|        2|               2310000|         5|            0|                             9|               166667.0|                     2496022|           2310000|                  1|            0|             0|                   0|                 1|           0|               0|            1848000|             0|                         0.0|             0.0|
|    1020200008|   Bank_Name_33|        0|        03-03-2006| Business_Name_99424|       Uttar Pradesh|                     443530|         2006|           1|  60|        Delhi|            6|        6|               3500000|         5|            2|                             5|               500000.0|                     1525676|           3500000|                  1|            0|             0|                   0|                 0|           0|               0|            1750000|             0|                         3.0|             0.0|
|    1020200009|Bank_Name_12778|        1|        03-08-2017|Business_Name_146709|             Haryana|                       1231|         2017|           2|  73|      Haryana|            5|        2|               4900000|         6|            0|                            10|               166667.0|                     2358557|           4900000|                  1|            0|             0|                   0|                 1|           0|               0|            3920000|             0|                         1.0|             2.0|
|    1020200010|   Bank_Name_17|        0|        20-06-2017| Business_Name_17874|         Maharashtra|                     542341|         2017|           1| 120|        Delhi|           12|       60|              42000000|        10|            0|                            10|              5000000.0|                     1186740|          42000000|                  1|            0|             0|                   0|                 0|           0|               0|           31500000|             0|                         2.0|             0.0|
|    1020200011|Bank_Number_346|        1|        05-09-2010| Business_Name_17760|       Uttar Pradesh|                       1230|         2010|           1| 303|Uttar Pradesh|            8|        8|               9800000|        25|            0|                            21|                 3.36E7|                     1547232|           9800000|                  1|            0|             0|                   0|                 0|           0|               0|            7350000|             1|                         3.0|             3.0|
|    1020200012|   Bank_Name_47|        0|        15-09-2010| Business_Name_98384|             Haryana|                     813541|         2010|           1|  82|        Delhi|           11|        4|              19600000|         7|            0|                             4|               333333.0|                      349235|          19600000|                  1|            2|             0|                   0|                 0|           0|               0|           14700000|             0|                         1.0|             0.0|
|    1020200013| Bank_Number_93|        1|        29-03-2010| Business_Name_65515|               Delhi|                       1230|         2010|           1|  24|        Delhi|           11|        5|               7910000|         2|            0|                            33|                  3.3E7|                      267120|           7910000|                  1|            0|             0|                   0|                 0|           0|               0|            5932500|             0|                         0.0|             0.0|
|    1020200014|  Bank_Name_666|        0|        18-09-2004| Business_Name_11879|         Maharashtra|                     625641|         2004|           1| 240|  Maharashtra|            8|       14|               6930000|        20|            4|                             3|              1166667.0|                     1323194|           6930000|                  1|            0|             3|                   0|                 0|           0|               0|            6930000|             0|                         2.0|             1.0|
|    1020200015|    Bank_Name_3|        0|        19-05-2011|Business_Name_130563|              Kerala|                     446541|         2011|           1|  37|       Kerala|            5|        2|               1750000|         3|            1|                             4|               166667.0|                      833449|           1750000|                  1|            0|             3|                   0|                 0|           0|         1232280|            1487500|             1|                         9.0|             9.0|
|    1020200016| Bank_Number_24|        0|        13-12-2008| Business_Name_54437|       Uttar Pradesh|                       1230|         2008|           1| 286|Uttar Pradesh|           11|        4|              18970000|        24|            0|                            32|                 2.56E7|                      698008|          18970000|                  1|            2|             0|                   0|                 0|           0|        12846470|           14227500|             0|                         3.0|             3.0|
|    1020200017|   Bank_Name_11|        0|        08-08-2005|Business_Name_128762|               Delhi|                     543091|         2005|           1|  84|        Delhi|            6|       10|               4544750|         7|            5|                             9|               833333.0|                     2026719|           3150000|                  0|            1|             0|                   0|                 0|           0|               0|            1575000|             0|                         0.0|             0.0|
|    1020200018|Bank_Name_36870|        0|        25-03-2005|Business_Name_170801|         Maharashtra|                     448341|         2005|           1| 120|      Haryana|            6|       44|               5495000|        10|            0|                             5|              3666667.0|                     1152186|           5495000|                  1|            0|             0|                   0|                 1|           0|               0|            4396000|             0|                         2.0|             2.0|
|    1020200019|  Bank_Name_344|        0|        09-10-2005| Business_Name_57125|             Haryana|                     723341|         2005|           1|  83|      Haryana|            4|       12|               5180000|         7|            0|                            14|              1000000.0|                      436454|           5180000|                  1|            2|             0|                   0|                 1|           0|               0|            4144000|             0|                         1.0|             2.0|
|    1020200020|Bank_Number_238|        1|        28-12-2010| Business_Name_34046|              Punjab|                     563220|         2010|           2|  60|       Punjab|            3|        4|               2800000|         5|            0|                            48|                 1.92E7|                     1608192|           2800000|                  1|            0|             0|                   0|                 1|           0|               0|            2240000|             0|                         8.0|             8.0|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+
only showing top 20 rows

In [ ]:
ohe_encoder = OneHotEncoder(inputCols=["Business_Owner_State_indexer", "BankStateindexer"],
                        outputCols=["Business_Owner_State_vector", "BankStateVector"])
ohe_encoder = ohe_encoder.fit(df)
df = ohe_encoder.transform(df)

In [ ]:
df.show(5)

+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+---------------------------+---------------+
|Application ID|   Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|Business_Owner_State_indexer|BankStateindexer|Business_Owner_State_vector|BankStateVector|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+---------------------------+---------------+
|    1020200001| Bank_Name_316|        0|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|              25650|            1|             3|                   0|                 0|           0|               0|           13912500|             0|                         3.0|             3.0|              (9,[3],[1.0])| (11,[3],[1.0])|
|    1020200002|Bank_Name_1062|        1|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|                  0|            1|             0|                   1|                 0|           0|         2369500|            1225000|             1|                         3.0|             3.0|              (9,[3],[1.0])| (11,[3],[1.0])|
|    1020200003|  Bank_Name_39|        0|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|                  0|            2|             2|                   1|                 0|           0|               0|            1487500|             0|                         3.0|             1.0|              (9,[3],[1.0])| (11,[1],[1.0])|
|    1020200004|   Bank_Name_3|        1|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|                  1|            1|             0|                   0|                 0|           0|               0|           29137500|             0|                         9.0|             0.0|                  (9,[],[])| (11,[0],[1.0])|
|    1020200005| Bank_Name_126|        1|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|                  1|            2|             0|                   0|                 1|           0|               0|            2380000|             0|                         0.0|             1.0|              (9,[0],[1.0])| (11,[1],[1.0])|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+---------------------------+---------------+
only showing top 5 rows

In [ ]:
df.count()

195118

In [ ]:
df.select(F.col('Bank Masked')).distinct().count()

42530

In [ ]:
df.select(F.col('Name Masked')).groupBy('Name Masked').count().show()

+--------------------+-----+
|         Name Masked|count|
+--------------------+-----+
|Business_Name_140550|    1|
|Business_Name_139609|    1|
| Business_Name_73472|    1|
| Business_Name_62132|    2|
| Business_Name_28654|    1|
|Business_Name_105970|    1|
| Business_Name_84125|    2|
| Business_Name_94290|    1|
|Business_Name_104886|    1|
| Business_Name_70810|    2|
|Business_Name_119181|    1|
|Business_Name_153633|    1|
|Business_Name_108035|    1|
| Business_Name_77717|    2|
| Business_Name_97956|    1|
| Business_Name_13852|    1|
|  Business_Name_4697|    2|
| Business_Name_50851|    2|
| Business_Name_30859|    3|
|Business_Name_104949|    1|
+--------------------+-----+
only showing top 20 rows

In [ ]:
df.select(F.col('Business Owner State')).groupBy('Business Owner State').count().show()

+--------------------+-----+
|Business Owner State|count|
+--------------------+-----+
|           Karnataka|  798|
|              Kerala|  543|
|          Tamil Nadu| 2040|
|              Punjab|  616|
|                NULL|    3|
|             Haryana|56421|
|              Orissa| 2603|
|               Delhi|58546|
|         Maharashtra|48088|
|       Uttar Pradesh|24167|
|         Uttarakhand| 1293|
+--------------------+-----+

In [ ]:
df.select(F.col('Bank Type')).groupBy('Bank Type').count().show()

+---------+------+
|Bank Type| count|
+---------+------+
|        1| 64888|
|        0|130230|
+---------+------+

In [ ]:
numeric_cols.remove('Company Branch Code')

In [ ]:
impute_cols = [c for c in numeric_cols if c != target]

imputer = Imputer(inputCols=impute_cols,
                  outputCols=[c + "_imputed" for c in impute_cols])
df = imputer.fit(df).transform(df)

In [ ]:
df.show(10)

+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+---------------------------+---------------+-----------------+-----------------------------------+--------------------+------------+---------------------+-----------------+------------------------------+------------------+---------------------+--------------------------------------+-------------------------------+------------------------------------+--------------------------+---------------------+----------------------+----------------------------+--------------------------+--------------------+------------------------+---------------------------+
|Application ID|    Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|Business_Owner_State_indexer|BankStateindexer|Business_Owner_State_vector|BankStateVector|Bank Type_imputed|Business_Industry_Type_Code_imputed|New Business_imputed|Term_imputed|Interest Rate_imputed|Employees_imputed|Gross Disbursed Amount_imputed|Term_years_imputed|Jobs Retained_imputed|Male to Female Employees Ratio_imputed|Expected Company Income_imputed|Funds available with company_imputed|Gross_Apprv_Amount_imputed|City or Rural_imputed|Jobs Generated_imputed|Carry-forward Credit_imputed|Documents Provided_imputed|Balance Left_imputed|Amount Defaulted_imputed|Final_Appved_Amount_imputed|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+---------------------------+---------------+-----------------+-----------------------------------+--------------------+------------+---------------------+-----------------+------------------------------+------------------+---------------------+--------------------------------------+-------------------------------+------------------------------------+--------------------------+---------------------+----------------------+----------------------------+--------------------------+--------------------+------------------------+---------------------------+
|    1020200001|  Bank_Name_316|        0|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|              25650|            1|             3|                   0|                 0|           0|               0|           13912500|             0|                         3.0|             3.0|              (9,[3],[1.0])| (11,[3],[1.0])|                0|                             525161|                   1|         219|                    3|               42|                      18550000|                18|                   18|                                     4|                      3500000.0|                              780590|                  18550000|                    1|                     3|                           0|                         0|                   0|                       0|                   13912500|
|    1020200002| Bank_Name_1062|        1|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|                  0|            1|             0|                   1|                 0|           0|         2369500|            1225000|             1|                         3.0|             3.0|              (9,[3],[1.0])| (11,[3],[1.0])|                1|                               1231|                   1|          71|                    5|               20|                       3045000|                 6|                   10|                                    16|                      1666667.0|                             1835637|                   2450000|                    1|                     0|                           1|                         0|                   0|                 2369500|                    1225000|
|    1020200003|   Bank_Name_39|        0|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|                  0|            2|             2|                   1|                 0|           0|               0|            1487500|             0|                         3.0|             1.0|              (9,[3],[1.0])| (11,[1],[1.0])|                0|                             322442|                   2|          84|                    8|               16|                       1750000|                 7|                   10|                                     8|                      1333333.0|                             2373333|                   1750000|                    2|                     2|                           1|                         0|                   0|                       0|                    1487500|
|    1020200004|    Bank_Name_3|        1|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|                  1|            1|             0|                   0|                 0|           0|               0|           29137500|             0|                         9.0|             0.0|                  (9,[],[])| (11,[0],[1.0])|                1|                               1231|                   1|         300|                    8|                4|                      38850000|                25|                    2|                                     6|                       333333.0|                             2346786|                  38850000|                    1|                     0|                           0|                         0|                   0|                       0|                   29137500|
|    1020200005|  Bank_Name_126|        1|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|                  1|            2|             0|                   0|                 1|           0|               0|            2380000|             0|                         0.0|             1.0|              (9,[0],[1.0])| (11,[1],[1.0])|                1|                               1231|                   2|         153|                   11|                4|                       2800000|                13|                    0|                                     8|                       333333.0|                             2382995|                   2800000|                    2|                     0|                           0|                         1|                   0|                       0|                    2380000|
|    1020200006| Bank_Name_1281|        0|        23-12-2009|Business_Name_135212|         Maharashtra|                     239391|         2009|           1|  84|  Maharashtra|            6|       10|              10500000|         7|            0|                            16|               833333.0|                      392186|          10500000|                  1|            2|             0|                   0|                 1|           0|               0|            7875000|             0|                         2.0|             1.0|              (9,[2],[1.0])| (11,[1],[1.0])|                0|                             239391|                   1|          84|                    6|               10|                      10500000|                 7|                    0|                                    16|                       833333.0|                              392186|                  10500000|                    2|                     0|                           0|                         1|                   0|                       0|                    7875000|
|    1020200007|   Bank_Name_33|        0|        04-10-2009| Business_Name_60742|               Delhi|                     423561|         2009|           2|  60|        Delhi|            6|        2|               2310000|         5|            0|                             9|               166667.0|                     2496022|           2310000|                  1|            0|             0|                   0|                 1|           0|               0|            1848000|             0|                         0.0|             0.0|              (9,[0],[1.0])| (11,[0],[1.0])|                0|                             423561|                   2|          60|                    6|                2|                       2310000|                 5|                    0|                                     9|                       166667.0|                             2496022|                   2310000|                    0|                     0|                           0|                         1|                   0|                       0|                    1848000|
|    1020200008|   Bank_Name_33|        0|        03-03-2006| Business_Name_99424|       Uttar Pradesh|                     443530|         2006|           1|  60|        Delhi|            6|        6|               3500000|         5|            2|                             5|               500000.0|                     1525676|           3500000|                  1|            0|             0|                   0|                 0|           0|               0|            1750000|             0|                         3.0|             0.0|              (9,[3],[1.0])| (11,[0],[1.0])|                0|                             443530|                   1|          60|                    6|                6|                       3500000|                 5|                    2|                                     5|                       500000.0|                             1525676|                   3500000|                    0|                     0|                           0|                         0|                   0|                       0|                    1750000|
|    1020200009|Bank_Name_12778|        1|        03-08-2017|Business_Name_146709|             Haryana|                       1231|         2017|           2|  73|      Haryana|            5|        2|               4900000|         6|            0|                            10|               166667.0|                     2358557|           4900000|                  1|            0|             0|                   0|                 1|           0|               0|            3920000|             0|                         1.0|             2.0|              (9,[1],[1.0])| (11,[2],[1.0])|                1|                               1231|                   2|          73|                    5|                2|                       4900000|                 6|                    0|                                    10|                       166667.0|                             2358557|                   4900000|                    0|                     0|                           0|                         1|                   0|                       0|                    3920000|
|    1020200010|   Bank_Name_17|        0|        20-06-2017| Business_Name_17874|         Maharashtra|                     542341|         2017|           1| 120|        Delhi|           12|       60|              42000000|        10|            0|                            10|              5000000.0|                     1186740|          42000000|                  1|            0|             0|                   0|                 0|           0|               0|           31500000|             0|                         2.0|             0.0|              (9,[2],[1.0])| (11,[0],[1.0])|                0|                             542341|                   1|         120|                   12|               60|                      42000000|                10|                    0|                                    10|                      5000000.0|                             1186740|                  42000000|                    0|                     0|                           0|                         0|                   0|                       0|                   31500000|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+----------------------------+----------------+---------------------------+---------------+-----------------+-----------------------------------+--------------------+------------+---------------------+-----------------+------------------------------+------------------+---------------------+--------------------------------------+-------------------------------+------------------------------------+--------------------------+---------------------+----------------------+----------------------------+--------------------------+--------------------+------------------------+---------------------------+
only showing top 10 rows

In [ ]:
df[numeric_cols].show(10)

+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|Bank Type|Business_Industry_Type_Code|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Default_Status|
+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
|        0|                     525161|           1| 219|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|            1|             3|                   0|                 0|           0|               0|           13912500|             0|
|        1|                       1231|           1|  71|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|            1|             0|                   1|                 0|           0|         2369500|            1225000|             1|
|        0|                     322442|           2|  84|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|            2|             2|                   1|                 0|           0|               0|            1487500|             0|
|        1|                       1231|           1| 300|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|            1|             0|                   0|                 0|           0|               0|           29137500|             0|
|        1|                       1231|           2| 153|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|            2|             0|                   0|                 1|           0|               0|            2380000|             0|
|        0|                     239391|           1|  84|            6|       10|              10500000|         7|            0|                            16|               833333.0|                      392186|          10500000|            2|             0|                   0|                 1|           0|               0|            7875000|             0|
|        0|                     423561|           2|  60|            6|        2|               2310000|         5|            0|                             9|               166667.0|                     2496022|           2310000|            0|             0|                   0|                 1|           0|               0|            1848000|             0|
|        0|                     443530|           1|  60|            6|        6|               3500000|         5|            2|                             5|               500000.0|                     1525676|           3500000|            0|             0|                   0|                 0|           0|               0|            1750000|             0|
|        1|                       1231|           2|  73|            5|        2|               4900000|         6|            0|                            10|               166667.0|                     2358557|           4900000|            0|             0|                   0|                 1|           0|               0|            3920000|             0|
|        0|                     542341|           1| 120|           12|       60|              42000000|        10|            0|                            10|              5000000.0|                     1186740|          42000000|            0|             0|                   0|                 0|           0|               0|           31500000|             0|
+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+--------------+
only showing top 10 rows

In [ ]:
for c in impute_cols:
    df = df.drop(c).withColumnRenamed(c + "_imputed", c)

### ML Pipeline

In [ ]:
feature_cols = [c for c in numeric_cols if c != target]

In [ ]:
feature_cols.append('Business_Owner_State_indexer')
feature_cols.append('BankStateindexer')

In [ ]:
df[feature_cols].show(10)

+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+----------------------------+----------------+
|Bank Type|Business_Industry_Type_Code|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Amount Defaulted|Final_Appved_Amount|Business_Owner_State_indexer|BankStateindexer|
+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+----------------------------+----------------+
|        0|                     525161|           1| 219|            3|       42|              18550000|        18|           18|                             4|              3500000.0|                      780590|          18550000|            1|             3|                   0|                 0|           0|               0|           13912500|                         3.0|             3.0|
|        1|                       1231|           1|  71|            5|       20|               3045000|         6|           10|                            16|              1666667.0|                     1835637|           2450000|            1|             0|                   1|                 0|           0|         2369500|            1225000|                         3.0|             3.0|
|        0|                     322442|           2|  84|            8|       16|               1750000|         7|           10|                             8|              1333333.0|                     2373333|           1750000|            2|             2|                   1|                 0|           0|               0|            1487500|                         3.0|             1.0|
|        1|                       1231|           1| 300|            8|        4|              38850000|        25|            2|                             6|               333333.0|                     2346786|          38850000|            1|             0|                   0|                 0|           0|               0|           29137500|                         9.0|             0.0|
|        1|                       1231|           2| 153|           11|        4|               2800000|        13|            0|                             8|               333333.0|                     2382995|           2800000|            2|             0|                   0|                 1|           0|               0|            2380000|                         0.0|             1.0|
|        0|                     239391|           1|  84|            6|       10|              10500000|         7|            0|                            16|               833333.0|                      392186|          10500000|            2|             0|                   0|                 1|           0|               0|            7875000|                         2.0|             1.0|
|        0|                     423561|           2|  60|            6|        2|               2310000|         5|            0|                             9|               166667.0|                     2496022|           2310000|            0|             0|                   0|                 1|           0|               0|            1848000|                         0.0|             0.0|
|        0|                     443530|           1|  60|            6|        6|               3500000|         5|            2|                             5|               500000.0|                     1525676|           3500000|            0|             0|                   0|                 0|           0|               0|            1750000|                         3.0|             0.0|
|        1|                       1231|           2|  73|            5|        2|               4900000|         6|            0|                            10|               166667.0|                     2358557|           4900000|            0|             0|                   0|                 1|           0|               0|            3920000|                         1.0|             2.0|
|        0|                     542341|           1| 120|           12|       60|              42000000|        10|            0|                            10|              5000000.0|                     1186740|          42000000|            0|             0|                   0|                 0|           0|               0|           31500000|                         2.0|             0.0|
+---------+---------------------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+----------------+-------------------+----------------------------+----------------+
only showing top 10 rows

In [ ]:
ohe_encoder = OneHotEncoder(inputCols=["Business_Owner_State_indexer", "BankStateindexer"],
                        outputCols=["Business_Owner_State_Vector", "BankStateVec"])

In [ ]:
assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")

In [ ]:
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures")

In [ ]:
lr = LogisticRegression(featuresCol="scaledFeatures", labelCol=target)

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/Train_Set_90621.csv", header=True, inferSchema=True)

In [ ]:
df = df.withColumn("Expected Company Income", df["Expected Company Income"].cast(DoubleType()))
df = df.withColumn("Business Owner State", df["Business Owner State"].cast(DoubleType()))
df = df.withColumn("BankState", df["BankState"].cast(DoubleType()))
df = df.withColumn("Documents Provided", F.when(F.col("Documents Provided") == "Y", 1).otherwise(0))
df = df.withColumn("Carry-forward Credit", F.when(F.col("Carry-forward Credit") == "Y", 1).otherwise(0))
df = df.withColumn("Bank Type", F.when(F.col("Bank Type") == "Govt", 1).otherwise(0))
owner_indexer = StringIndexer(inputCol="Business Owner State", outputCol="Business_Owner_State_indexer")
bank_indexer = StringIndexer(inputCol="BankState", outputCol="BankStateindexer")

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/Train_Set_90621.csv", header=True, inferSchema=True)


# Explicitly rename columns to remove spaces and special characters
for c in df.columns:
    df = df.withColumnRenamed(c, c.replace(' ', '_').replace('-', '_'))

# Fill remaining missing numeric values with 0
numeric_columns = ['Business_Industry_Type_Code', 'New_Business', 'Term', 'Interest_Rate',
                   'Employees', 'Gross_Disbursed_Amount', 'Jobs_Retained',
                   'Male_to_Female_Employees_Ratio', 'Expected_Company_Income',
                   'Funds_available_with_company', 'Gross_Apprv_Amount',
                   'City_or_Rural', 'Jobs_Generated', 'Balance_Left',
                   'Amount_Defaulted', 'Final_Appved_Amount']

df = df.fillna(0, subset=numeric_columns)

categorical_columns = ['Bank_Type', 'Business_Owner_State', 'Carry_forward_Credit', 'Documents_Provided']
df = df.fillna('Unknown', subset=categorical_columns)

indexers = [StringIndexer(inputCol=col, outputCol=f"{col}_Indexed", handleInvalid="keep") for col in categorical_columns]

for col_name in numeric_columns:
    df = df.withColumn(col_name, F.col(col_name).cast("double"))

assembler_input = [f"{col}_Indexed" for col in categorical_columns] + numeric_columns
assembler = VectorAssembler(inputCols=assembler_input, outputCol="features", handleInvalid="keep")

lr = LogisticRegression(featuresCol="features", labelCol="Default_Status")

pipeline = Pipeline(stages=indexers + [assembler, lr])

pipeline_model = pipeline.fit(df)

+--------------------+--------------+----------+
|            features|Default_Status|prediction|
+--------------------+--------------+----------+
|[0.0,3.0,0.0,0.0,...|             0|       0.0|
|[1.0,3.0,1.0,0.0,...|             1|       0.0|
|[0.0,3.0,1.0,0.0,...|             0|       0.0|
|[1.0,9.0,0.0,0.0,...|             0|       0.0|
|[1.0,0.0,0.0,1.0,...|             0|       0.0|
|[0.0,2.0,0.0,1.0,...|             0|       0.0|
|(20,[3,4,5,6,7,8,...|             0|       0.0|
|[0.0,3.0,0.0,0.0,...|             0|       0.0|
|[1.0,1.0,0.0,1.0,...|             0|       0.0|
|(20,[1,4,5,6,7,8,...|             0|       0.0|
+--------------------+--------------+----------+
only showing top 10 rows

In [ ]:
target='Default_Status'

In [ ]:
pipeline = Pipeline(stages=[owner_indexer, bank_indexer, ohe_encoder, assembler, scaler, lr])

In [ ]:
transformed_df = pipeline_model.transform(df)

In [ ]:
train_df, test_df = df.randomSplit([0.7, 0.3], seed=42)

In [ ]:
paramGrid = ParamGridBuilder() \
    .addGrid(lr.regParam, [0.01, 0.1, 1.0]) \
    .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0]) \
    .build()

In [ ]:
evaluator = BinaryClassificationEvaluator(labelCol=target)

In [ ]:
cv = CrossValidator(estimator=pipeline,
                    estimatorParamMaps=paramGrid,
                    evaluator=evaluator,
                    numFolds=3)

In [ ]:
cvModel = cv.fit(train_df)

In [ ]:
cvModel.bestModel.write().overwrite().save("saved_pipeline")

predictions = cvModel.transform(test_df)
predictions.select("features", "Default_Status", "prediction", "probability").show(5)

# Compute and print AUC
auc = evaluator.evaluate(predictions)
print("Test AUC: ", auc)

+--------------------+--------------+----------+--------------------+
|            features|Default_Status|prediction|         probability|
+--------------------+--------------+----------+--------------------+
|[0.0,3.0,1.0,0.0,...|             0|       0.0|[0.82195747651187...|
|(20,[3,4,5,6,7,8,...|             0|       0.0|[0.82195747651187...|
|[1.0,1.0,0.0,1.0,...|             0|       0.0|[0.82195747651187...|
|(20,[1,4,5,6,7,8,...|             0|       0.0|[0.82195747651187...|
|[0.0,2.0,0.0,0.0,...|             0|       0.0|[0.82195747651187...|
+--------------------+--------------+----------+--------------------+
only showing top 5 rows

Test AUC:  0.8267301783002465

In [ ]:
spark.stop()